.App {
  text-align: center;
  height: 84.7vh;
  background: lightgrey
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

/* ==================================================== */
a {
  text-decoration: none;
  color: #C4bbaf
}

h1 {
  font-size: 30px;
  margin-bottom: 5px
}

h2 {
  font-size: 25px;
  margin-bottom: 5px;
}

#menu {
  width: 50px;
  height: 50px;
  background: lightcoral
}

.navBarDrawer {
  position: absolute;
  display: flex;
  justify-content: space-around;
  left: -175px;
  top: 0;
  width: 0px;
  height: 100%;
  overflow: hidden;
  transition: .6s
}

.navBarDrawerReveal {
  width: 175px;
  left: 0px;
}

.dropDownBoxOutside {
  border: 3px solid grey
}

.dropDownBoxOutside:hover {
  background: gray
}

ul {
  background: #57514f
}

#navFirstItem {
  background: #2d2d2a
}

#navOverlay {
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  transition: .6s
}

.overlayHide {
  width: 0
}

li {
  height: 50px;
  width: 175px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

li:hover, #navFirstItem:hover {
  background: #9f795f;
}

.navLocked{
  height: 50px;
  width: 175px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.item {
  margin: 0 auto;
  width: 250px
}