@font-face {
    font-family: Militia;
    src: url('./images/OuterspaceMilitia.ttf') format("truetype");
}

body {
    background: #57514f
  }

.stepTitle {
    font-family: Militia;
    background: #c4bbaf;
    padding: 7px;
    border-radius: 35px;
    box-shadow: 2px 2px 2px #2d2d2a
}

.stepBody {
    width: 74%;
    position: absolute;
    top: -25px;
    left: 13%;  
}

#loading {
    height: 75vh;
}

.stepInner {
    margin-top: 15%;
    margin: 5% auto 0 auto;
    width: 74%;
    background: #c4bbaf;
    padding: 17px;
    border-radius: 35px;
    box-shadow: 2px 2px 2px #2d2d2a
}

.StepOuter {
    position: relative;
  }

  .bodySpecies {
    display: flex;
    justify-content: space-around;
  }

  .stepDescription {
    margin-bottom: 10px;
  }

.speciesBasket {
    width: 95%;
    height: 0px;
    transform: translateY(-23px);
    overflow: hidden;
    padding: 7px 5px 15px 5px;
    border-left: 2px solid #2d2d2a;
    border-right: 2px solid #2d2d2a;
    border-bottom: 2px solid #2d2d2a;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: left;
    margin-bottom: 5px;
    background: #9f795f;
    box-shadow: 1px 1px 1px #2d2d2a
}

.speciesTitle {
    width: 100%; 
    box-shadow: 1px 1px 1px #2d2d2a; 
}

.speciesDropBox {
    margin-bottom: 15px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.para {
    margin-top: 8px;
}

.cardBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.backgroundLoader {
    box-shadow: none;
}

.speciesCard {
    width: 25%;
    margin-top: 15px;
}

.speciesDesc {
    margin-top: 15px;
    border: 2px inset #57514f;
    width: 65%;
    height: 0%;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
    background: #9f795f
}

.scoreDisplay {
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
}

.scoreUnderscore {
    height: 2px;
    width: 100%;
    background: #a62020;
    margin-bottom: 10px;
}

.step6Underscore {
    width: 15%;
    margin: 15px auto;
}

.scoreScore {
    font-size: 20px;
}

.loaderMargin {
    transform: translateY(150px)
}

.backgroundMain {
    margin: 25px 5px;
    display: flex;
    flex-wrap: wrap;
}

.backgroundBoxOutside {
    width: 23%;
    margin: 1%;
    background: whitesmoke;
    border-radius: 7px;
    padding: 15px 5px;
    box-shadow: 2px 2px 2px #2d2d2a;
    transition: .6s
}

.backgroundBoxOutside:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 5px #2d2d2a
}

.backgroundInner {
    width: 90%
}

.backgroundPrice {
    margin-bottom: 10px;
}

input {
    border: none;
    padding: 5px;
    width: 250px;
    height: 24px;
    border-radius: 5px;
    background: lightgray;
}

input:focus {
    background: white
}

.adjustment {
    width: 50px;
}

.adjustmentTitle {
    text-align: left;
    margin-left: 4%;
    font-size: 20px;
}

.adjustmentDisplay{
    margin: 15px 0;
}

.statChoice {
    font-size: 12px;
    padding: 5px 0;
    border-radius: 5px;
    background: whitesmoke;
    transition: .6s
}

.statChoice:hover {
    background: #2d2d2a;
    color: #a62020
}

.statCard {
    width: 22%;
    background: grey;
    box-shadow: 1px 1px 1px #2d2d2a;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
}

.statBasket {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.statScore {
    color: lightgray;
    border-radius: 5px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.statTitle {
    color: lightgray
}

.statIncrease {
    margin-bottom: 10px
}

.step6MainUnderscore {
    background: #2d2d2a;
    margin: 15px auto;
    width: 80%
}

.finalizeScoreBP {
    margin: 20px 0px 15px 0px;
    font-size: 25px;
}

.buttonLocked {
    margin: 5px;
    padding: 5px 15px;
    font-family: 'Exo 2', sans-serif;
    background: linear-gradient(gray, gray, gray, #2d2d2a);
    border: 2px outset gray;
    color: #c4bbaf;
    font-size: 17px;
    border-radius: 7px;
}

.buttonHolder {
    display: flex;
    justify-content: space-around;
    margin: 0 20px;
}